/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-container {
    background-color: white;
    padding: 50px; /* Tăng padding */
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    width: 450px; /* Tăng chiều rộng */
}

.register-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #9b59b6;
    border-radius: 5px;
    font-size: 16px;
}

.input-group input:focus {
    border-color: #9b59b6;
    outline: none;
    box-shadow: 0px 0px 5px rgba(155, 89, 182, 0.5);
}

.error-message {
    color: red; /* Màu sắc cho thông báo lỗi */
    font-size: 14px; /* Kích thước chữ */
    margin-top: 5px; /* Khoảng cách giữa trường nhập và thông báo lỗi */
}

.register-btn {
    width: 100%;
    padding: 10px; /* Tăng kích thước nút */
    background-color: #9b59b6;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-btn:hover {
    background-color: #8e44ad;
}

.register-btn:active {
    background-color: #732d91;
}

.back-to-login {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.back-to-login a {
    color: #9b59b6;
    text-decoration: none;
    font-weight: bold;
}

.back-to-login a:hover {
    text-decoration: underline;
}

/* Căn chỉnh giới tính */
.input-group select {
    width: 100%; /* Đảm bảo chiều rộng là 100% */
    padding: 10px; /* Tăng kích thước padding */
    border: 1px solid  #9b59b6;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-size: 16px; /* Tăng kích thước chữ */
    cursor: pointer; /* Thêm con trỏ tay cho chọn giới tính */
}

.input-group select option {
    background-color: white; /* Màu nền cho các tùy chọn */
    color: black; /* Màu chữ cho các tùy chọn */
}
